In [37]:
import pandas as pd
import zipfile
import requests
from   pathlib import Path

# url para hacer request
# https://figshare.com/ndownloader/articles/19105049/versions/1

In [38]:
# current_dir: Path = Path(__file__).parent

In [39]:
# url = "https://figshare.com/ndownloader/articles/19105049/versions/1"
# ruta_destino: Path = current_dir

# response = requests.get(url)

# with open(ruta_destino, "wb") as archivo:
#     archivo.write(response.content)

# with open("datos.csv", "wb") as f:
    # f.write(response.content)

In [40]:
data = pd.read_csv('nit_by_flora.csv')
data = data.drop(['DOI', 'Repetitions', 'Experimental.design', 'Paper', 'W_CV', 'W_LSD', 'W_SE_min', 'W_SE_Max', 'Row_Space', 'Water_applied', 'Sampling_time', 'Observation',
                  'Nobs%', 'Npred%', 'Nconc_LSD', 'Nupt_kg_ha', 'Nconc_SE_min', 'Nconc_SE_Max', 'Nupt_SE_min', 'Nupt_SE_Max', 'W_ton_ha', 'Sites', 'Genotype', 'Sowing.Date', 'Harvest_Date'], axis=1)
data['Year'] = data['Year'].str.replace('Autumn ', '')
data['Year'] = data['Year'].str.replace('Early spring ', '')
data['Year'] = data['Year'].str.replace('Summer ', '')
data['Year'] = data['Year'].str.replace('Late spring ', '')
data['Year'] = data['Year'].str.split(' - ').str[0]
data['Year'] = data['Year'].str.split('-2').str[0]
data['Year'] = data['Year'].str.split('/ ').str[0]
data['Year'] = data['Year'].str.replace('/2007', '')

data = data.dropna(subset=['Year'])
data = data.dropna(subset=['Country'])
data = data.dropna(subset=['Treatment'])

data['Treatment'] = data['Treatment'].str.strip()
data['Water'] = data['Water'].fillna('No irrigation data')
# data['Harvest_Date'] = data['Harvest_Date'].fillna('No harvest date data')
# data['Sowing.Date'] = data['Sowing.Date'].fillna('No sowing date data')
# data['Genotype'] = data['Genotype'].fillna('No genotype data')
data['Nrates_kg_ha'] = data['Nrates_kg_ha'].astype(float)
data = data.rename(columns={'Treatment': 'Nitrates'})

display(data)

,Id,Species,Year,Country,Nitrates,Nrates_kg_ha,Water
0,1,Annual ryegrass,1994,Argentina,N0,0.0,No irrigation data
1,1,Annual ryegrass,1994,Argentina,N1,50.0,No irrigation data
2,1,Annual ryegrass,1994,Argentina,N2,100.0,No irrigation data
3,1,Annual ryegrass,1994,Argentina,N3,150.0,No irrigation data
4,1,Annual ryegrass,1994,Argentina,N4,200.0,No irrigation data
...,...,...,...,...,...,...,...
4449,41,White cabbage,2001,Sweden,N225,225.0,No irrigation data
4450,41,White cabbage,2001,Sweden,N225,225.0,No irrigation data
4451,41,White cabbage,2001,Sweden,N375,375.0,No irrigation data
4452,41,White cabbage,2001,Sweden,N375,375.0,No irrigation data
4453,41,White cabbage,2001,Sweden,N375,375.0,No irrigation data

In [41]:
data_csv = data.to_csv("nit_by_flora_ed.csv", index=False)

In [42]:
data.isna().any()

Id              False
Species         False
Year            False
Country         False
Nitrates        False
Nrates_kg_ha    False
Water           False
dtype: bool