In [93]:
import pandas as pd

In [94]:
data = pd.read_csv('nit_by_flora.csv')
data = data.drop(['DOI', 'Repetitions', 'Experimental.design', 'Paper', 'W_CV', 'W_LSD', 'W_SE_min', 'W_SE_Max', 'Row_Space', 'Water', 'Water_applied', 'Sampling_time', 'Observation',
                  'Nobs%', 'Npred%', 'Nconc_LSD', 'Nupt_kg_ha', 'Nconc_SE_min', 'Nconc_SE_Max', 'Nupt_SE_min', 'Nupt_SE_Max', 'W_ton_ha'], axis=1)
# revisar si las columnas eliminadas hay alguna que pueda ser util
data['Year'] = data['Year'].str.replace('Autumn ', '')
data['Year'] = data['Year'].str.replace('Early spring ', '')
data['Year'] = data['Year'].str.replace('Summer ', '')
data['Year'] = data['Year'].str.replace('Late spring ', '')
data['Year'] = data['Year'].str.split(' - ').str[0]
data['Year'] = data['Year'].str.split('-2').str[0]
data['Year'] = data['Year'].str.split('/ ').str[0]
data['Year'] = data['Year'].str.replace('/2007', '')

data = data.dropna(subset=['Year'])
display(data)

,Id,Species,Year,Country,Sites,Treatment,Nrates_kg_ha,Sowing.Date,Harvest_Date,Genotype
0,1,Annual ryegrass,1994,Argentina,Tandil,N0,0,3-Mar,NaN,Grasslands Tama
1,1,Annual ryegrass,1994,Argentina,Tandil,N1,50,3-Mar,NaN,Grasslands Tama
2,1,Annual ryegrass,1994,Argentina,Tandil,N2,100,3-Mar,NaN,Grasslands Tama
3,1,Annual ryegrass,1994,Argentina,Tandil,N3,150,3-Mar,NaN,Grasslands Tama
4,1,Annual ryegrass,1994,Argentina,Tandil,N4,200,3-Mar,NaN,Grasslands Tama
...,...,...,...,...,...,...,...,...,...,...
4449,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N225,225,18 of May,NaN,Heckla
4450,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N225,225,18 of May,NaN,Heckla
4451,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N375,375,18 of May,NaN,Heckla
4452,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N375,375,18 of May,NaN,Heckla
4453,41,White cabbage,2001,Sweden,Torslunda Experimental Station,N375,375,18 of May,NaN,Heckla

In [95]:
data = data.to_csv("nit_by_flora_ed.csv", index=False)